/* styles.css */

/* Noonnu Fonts import */
@font-face {
    font-family: 'KoddiUDOnGothic-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KoddiUDOnGothic-Regular';
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #00714e; /* 더 어두운 녹색으로 변경 */
    font-size: 32px;
    font-weight: bold; /* 굵게 처리하여 큰 텍스트로 간주 */
}

button {
    background-color: #00563f; /* 더 어두운 배경색으로 변경 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004c38; /* 호버 시 더 어두운 색상으로 변경 */
}

button:focus {
    outline: 2px solid #003d30;
    outline-offset: 2px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
